t {
    position: relative;
    right: 10px;
    
}

ul {
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    bottom: 20px;
    position: relative;

}


li {
   display: inline;
}

li a {
    display: inline-block;
    padding: 10px;
    color: black;
}

li a:hover {
    color: deepskyblue;
    text-decoration: none;
}

#content {
    width: 590px;
    margin: 0 auto;
}

#news-01 {
    width:700px;
}

#news-02 {
    width:400px;
}

#news-03 {
   
}



#newsstart {
    width: 700px;
    bottom: 100px;
    position: relative;
}

#breaking-news {
    background-color: yellow;
    text-align: justify; 
    margin-bottom: 20px;
    
}

#breaking-news01 {
    margin-top: 10px;
    right: 17px;

    
}

to {
    justify-content: center;
    display: flex;
    bottom: 90px;
    right: 20px;
    position:relative;
    font-weight: bold;
    font-family:sans-serif;
    font-size: 50px;
}

h3 {
    font-size: 135%;
}

img {
    max-width:90%;
    max-height:100%;
}

h1 {
    position: relative;
    bottom: 210px;
    left: 120Px;
}

.newsfeed {
    bottom: 43px;
    margin: auto;
    right:70px;
    width: 68%;
    border-right-style: solid;
    border-width: 1px;
    border-color: lightgray;
}

.newsfeed-s {
    bottom: 40px;
    margin: auto;
    right:70px;
    width: 68%;
    border-right-style: solid;
    border-width: 1px;
    border-color: lightgray;
    justify-content: center;
    display: flex;
}

#news-feed2 {
    float= left;
    width: 30%;
}

nt {
    font-size: 28px;
    font-weight: bold;
}

nt1 {
   font-size: 20px;
   font-weight: bold; 
}


at {
    font-size: 10px;
}

.blacs {
    color: black;
    height: 10px;
}

.entry {
    padding-bottom: 20px;
}

.two {
    margin-top: 17px;
    position: relative;
    white-space: pre-line;
    border-bottom-style: solid;
    border-width: 1.5px;
    border-color: lightgray;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: darkslategray;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
.sii {
    float: right;
    overflow: hidden;
}

.col2 {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    margin-top: 10px;
    position: relative;
    white-space: pre-line;
    border-bottom-style: solid;
    border-width: 1.5px;
    border-color: lightgray;
}

.sudoku {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

.col2fix {
    bottom: 35px;
}

.adsr {
    float: right;
}

.adsl {
    float: left;
}

article_title {
    font-size: 30px;
    font-weight: bold;
}

article_under {
    color: #333333;
    font-size: 20px;
    
    
}

.undera {
    margin-top: 4px;
    position: relative;
    white-space: pre-line;
}

article_peo {
    font-size: 10;
    
}

article_lpeo {
    font-size: 10;
}

.underla {
    margin-top: 4px;
    position: relative;
    white-space: pre-line;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: lightgray;
}

article_title {
    font-size: 35px;
    font-weight: bold;
}

article_text {
    font-size: 18px;
}

article_by {
    margin-top: 10px;
    position: relative;
    white-space: pre-line;
}

by_text {
    font-size: 26px;
    font-weight: bold;
}

pic_text {
    color: darkslategray;
    font-style: italic;
}

la_title {
    font-size: 30px;
    font-weight: bold;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: lightgray;
}

credit {
    font-size: 17px;
    font-weight: bold;
}





